/* styles.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-custom {
    background: #114357; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to left,
      #f29492,
      #0c4005
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to left,
      #f29492,
      #0c4005
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }

  .box-shadow {
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
  }

  .rotate-refresh {
    display: inline-block;
    transition: transform 0.4s ease-in-out;
  }

  .rotate-refresh:hover {
    transform: rotate(180deg);
  }
}
